<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin_kit::head(~{::title})">
    <title>预约管理</title>
</head>
<body>
<!--todo 待测试-->

<!--导航栏-->
<div th:replace="admin_kit::navbar"></div>
<!--展示列表-->
<div class="container">
    <section class="heading-item-area">
        <div class="container coustome-container">
            <div class="row all-widgets-area m0">
                <div class="col-md-10 col-sm-6 post-area">
                    <!--分页导航-->
                    <div class="col-md-12 column" th:object="${appointmentVoPageInfo}">
                        <ul class="pagination">
                            <li>
                                <a href="#"
                                   th:href="@{/admin/appointment/get/list(pageNum=*{pageNum}-1)}">Prev</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/appointment/get/list(pageNum=*{pageNum}-2)}"
                                   th:if="${appointmentVoPageInfo.pageNum} gt 2"
                                   th:text="*{pageNum - 2}">1</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/appointment/get/list(pageNum=*{pageNum}-1)}"
                                   th:if="${appointmentVoPageInfo.pageNum} gt 1"
                                   th:text="*{pageNum - 1}">2</a>
                            </li>
                            <li class="active">
                                <a href="#"
                                   th:href="@{/admin/appointment/get/list(pageNum=*{pageNum})}"
                                   th:text="*{pageNum}">3</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/appointment/get/list(pageNum=*{pageNum}+1) }"
                                   th:if="${appointmentVoPageInfo.pageNum}+1 lt ${appointmentVoPageInfo.pages}"
                                   th:text="*{pageNum + 1}">4</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/appointment/get/list(pageNum=*{pageNum}+2)}"
                                   th:if="${appointmentVoPageInfo.pageNum}+2 lt ${appointmentVoPageInfo.pages}"
                                   th:text="*{pageNum + 2}">5</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/appointment/get/list(pageNum=*{pageNum}+1)}">Next</a>
                            </li>
                        </ul>
                    </div>
                    <!--列表-->
                    <div class="Building-University"
                         th:each="appointmentVo:${appointmentVoList}">
                        <div class="Building-content">
                            <div class="right-area">
                                <!--标题-->
                                <h3 th:text="${appointmentVo.houseName}">房屋名称</h3>
                                <!--tags-->
                                <a href="" class="btn-slide activ" th:text="${appointmentVo.viewAppointmentId}">tags</a>
                                <!--信息-->
                                <ul class="info">
                                    <li>
                                        <i class="lnr lnr-tag"></i> 房屋名称: <var
                                            th:text="${appointmentVo.houseName}">未知</var>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-tag"></i> 创建者名称: <var
                                            th:text="${appointmentVo.creatorName}">未知</var>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-tag"></i> 创建时间: <var
                                            th:text="${appointmentVo.createTime}">未知</var>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-tag"></i> 看房时间: <var
                                            th:text="${appointmentVo.viewTime}">未知</var>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-tag"></i> 已回复: <var
                                            th:text="${appointmentVo.isReplied}">未知</var>
                                    </li>
                                    <li th:if="${appointmentVo.isReplied}">
                                        <i class="lnr lnr-tag"></i> 回复者名称: <var
                                            th:text="${appointmentVo.replierName}">未知</var>
                                    </li>
                                    <li th:if="${appointmentVo.isReplied}">
                                        <i class="lnr lnr-tag"></i> 回复时间: <var
                                            th:text="${appointmentVo.replyTime}">未知</var>
                                    </li>
                                    <li th:if="${appointmentVo.isReplied}">
                                        <i class="lnr lnr-tag"></i> 已看房: <var
                                            th:text="${appointmentVo.isViewed}">未知</var>
                                    </li>
                                </ul>
                                <!--结束预约-->
                                <form th:if="${appointmentVo.isReplied} eq 0"
                                      th:action="@{'admin/appointment/update/reply'}"
                                      method="post" th:object="${appointmentVo}"
                                      th:method="post">
                                    <button class="Contact">审查确定</button>
                                </form>
                                <!--完成看房-->
                                <form th:if="${appointmentVo.isViewed} eq 0"
                                      th:action="@{'admin/appointment/update/view'}"
                                      method="post" th:object="${appointmentVo}"
                                      th:method="post">
                                    <button class="Contact">已完成看房</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>