<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin_kit::head(~{::title})">
    <title>留言回复</title>
</head>
<body>
<!--导航栏-->
<div th:replace="admin_kit::navbar"></div>
<!--正文-->
<div class="container">
    <section class="heading-item-area">
        <div class="container coustome-container">
            <div class="row all-widgets-area m0">
                <div class="col-md-10 col-sm-6 post-area">
                    <br><br>
                    <!--分页-->
                    <div class="column"
                         th:object="${commentVoPageInfo}">
                        <ul class="pagination">
                            <li>
                                <a href="#"
                                   th:href="@{/admin/comments/get/list(pageNum=*{pageNum}-1 )}">Prev</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/comments/get/list(pageNum=*{pageNum}-2 )}"
                                   th:if="${commentVoPageInfo.pageNum} -2 ge 1"
                                   th:text="*{pageNum - 2}">1</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/comments/get/list(pageNum=*{pageNum}-1 )}"
                                   th:if="${commentVoPageInfo.pageNum} -1 ge 1"
                                   th:text="*{pageNum - 1}">2</a>
                            </li>
                            <li class="active">
                                <a href="#"
                                   th:href="@{/admin/comments/get/list(pageNum=*{pageNum} )}"
                                   th:text="*{pageNum}">3</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/comments/get/list(pageNum=*{pageNum}+1 ) }"
                                   th:if="${commentVoPageInfo.pageNum}+1 le ${commentVoPageInfo.pages}"
                                   th:text="*{pageNum + 1}">4</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/comments/get/list(pageNum=*{pageNum}+2 )}"
                                   th:if="${commentVoPageInfo.pageNum}+2 le ${commentVoPageInfo.pages}"
                                   th:text="*{pageNum + 2}">5</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/comments/get/list(pageNum=*{pageNum}+1 )}">Next</a>
                            </li>
                        </ul>
                    </div>
                    <!--展示-->
                    <div class="Building-University" th:each="commentVo:${commentVoList}">
                        <div class="Building-content">
                            <div class="right-area">
                                <div class="content">
                                    <div class="media">
                                        <div class="media-body">
                                            <h5 class="media-heading"><span class="date"
                                                                            th:text="${#dates.format(commentVo.createTime,'yyyy-MM-dd')}">commentVo.createTime</span><a
                                                    href="https://blog.mazey.net/"
                                                    target="_blank"> <span class="name"
                                                                           th:text="${commentVo.creatorName}">commentVo.creatorName</span></a>
                                            </h5>
                                            <p><br><span th:text="${commentVo.info}">commentVo.info</span>
                                            </p>
                                            <a href="https://blog.mazey.net/"
                                               target="_blank" class="pull-left">回应</a>
                                            <br>
                                            <!--todo 优化格式-->
                                            <div class="comment"
                                                 th:if="${commentVo.isReplied} eq 1">
                                                <div class="comment">
                                                    <div class="comment-text">
                                                        <span>管理员：</span>
                                                        <span class="user"
                                                              th:text="${commentVo.replyName}">commentVo.replyName</span>
                                                        <span>回复时间：</span>
                                                        <span class="comment-date"
                                                              th:text="${#dates.format(commentVo.replyTime,'yyyy-MM-dd')}">commentVo.replyTime</span>
                                                    </div>
                                                    <span th:text="${commentVo.replyInfo}">commentVo.replyInfo</span>
                                                </div>

                                            </div>
                                            <div class="comment"
                                                 th:if="${commentVo.isReplied} eq 0">
                                                <form id="replyCommentForm"
                                                      class="form-horizontal"
                                                      method="post"
                                                      th:action="@{'/admin/comments/update?commentId='+${commentVo.commentId}}">
                                                    <div class="form-group column">
                                                        <label for="info" class="pull-left">回复留言：</label>
                                                        <textarea name="info"
                                                                  id="info"
                                                                  placeholder="请输入留言内容！"
                                                                  th:name="replyInfo"
                                                                  rows="1"
                                                                  required></textarea>
                                                    </div>
                                                    <button class="btn btn-success"
                                                            type="submit">提交
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>