<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin_kit::head(~{::title})">
    <title>房屋管理</title>
</head>
<body>
<!--导航栏-->
<div th:replace="admin_kit::navbar"></div>
<!--展示-->
<div class="container">
    <section class="heading-item-area">
        <div class="container coustome-container">
            <div class="row all-widgets-area m0">
                <div class="col-md-10 col-sm-6 post-area">
                    <!--添加，唤出模态框-->
                    <button class="btn btn-lg btn-block" data-toggle="modal"
                            data-target="#createHouse">添加房屋
                    </button>
                    <!--模糊搜索-->
                    <div class="right-site-bar pull-right">
                        <form class="navbar-form navbar-right" role="search"
                              th:action="@{/admin/houses/get/list}">
                            <div class="form-group">
                                <label>
                                    <input type="text" class="form-control form-custom"
                                           placeholder="Search Here"
                                           th:name="condition">
                                </label>
                            </div>
                            <button type="submit" class="btn btn-submit">Search</button>
                        </form>
                    </div>
                    <!--分页导航-->
                    <div class="col-md-12 column" th:object="${housePageInfo}">
                        <ul class="pagination">
                            <li>
                                <a href="#"
                                   th:href="@{/admin/houses/get/list(pageNum=*{pageNum}-1, condition=${condition})}">Prev</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/houses/get/list(pageNum=*{pageNum}-2, condition=${condition})}"
                                   th:if="${housePageInfo.pageNum} -2 ge 1"
                                   th:text="*{pageNum - 2}">1</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/houses/get/list(pageNum=*{pageNum}-1, condition=${condition})}"
                                   th:if="${housePageInfo.pageNum} -1 ge 1"
                                   th:text="*{pageNum - 1}">2</a>
                            </li>
                            <li class="active">
                                <a href="#"
                                   th:href="@{/admin/houses/get/list(pageNum=*{pageNum}, condition=${condition})}"
                                   th:text="*{pageNum}">3</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/houses/get/list(pageNum=*{pageNum}+1, condition=${condition}) }"
                                   th:if="${housePageInfo.pageNum}+1 le ${housePageInfo.pages}"
                                   th:text="*{pageNum + 1}">4</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/houses/get/list(pageNum=*{pageNum}+2, condition=${condition})}"
                                   th:if="${housePageInfo.pageNum}+2 le ${housePageInfo.pages}"
                                   th:text="*{pageNum + 2}">5</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/admin/houses/get/list(pageNum=*{pageNum}+1, condition=${condition})}">Next</a>
                            </li>
                        </ul>
                    </div>
                    <!--房屋列表-->
                    <div>
                        <div class="Building-University" th:each="house:${houseList}">
                            <div class="Building">
                                <img src="../img/property_listing/1.jpg"
                                     th:src="@{${house.picture}}" alt="">
                            </div>
                            <div class="Building-content">
                                <div class="right-area">
                                    <!--标题-->
                                    <h3 th:text="${house.name}">Building Rent For
                                        University</h3>
                                    <!--tags-->
                                    <a href="" class="btn-slide activ">出售中</a>
                                    <!--信息-->
                                    <ul class="info">
                                        <li>
                                            <i class="lnr lnr-tag"></i> 面积: <var
                                                th:text="${house.size}">未知</var>
                                        </li>
                                        <li>
                                            <i class="lnr lnr-tag"></i> 地址: <var
                                                th:text="${house.address}">未知</var>
                                        </li>
                                        <li>
                                            <i class="lnr lnr-tag"></i> 价格: <var
                                                th:text="${house.price}">未知</var>
                                        </li>
                                        <li>
                                            <i class="lnr lnr-tag"></i> 区域: <var
                                                th:text="${house.division}">未知</var>
                                        </li>
                                        <li>
                                            <i class="lnr lnr-tag"></i> 点击数: <var
                                                th:text="${house.click}">未知</var>
                                        </li>
                                        <li>
                                            <i class="lnr lnr-tag"></i> 类型: <var
                                                th:text="${house.type}">未知</var>
                                        </li>
                                    </ul>
                                    <!--单个房屋信息页-->
                                    <a href="#" class="Contact"
                                       th:href="@{'admin/houses/get/single?houseId='+${house.houseId}}">查看详情
                                        <i class="lnr lnr-arrow-right"></i></a>
                                    <!--删除-->
                                    <form th:action="@{'admin/houses/delete?houseId='+${house.houseId}}"
                                          method="post">
                                        <button class="Contact">删除</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--添加房屋模态框-->
<div class="modal fade" id="createHouse" aria-labelledby="createHouseLabel"
     aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h5 class="modal-title" id="createHouseLabel">添加房屋</h5>
            </div>

            <form id="createHouseForm" class="form-horizontal" method="post"
                  th:action="@{/admin/houses/create}"
                  th:object="${house}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="name">房屋名称：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="name" value=""
                                   id="name" class="form-control"
                                   th:field="*{name}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="address">地址：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="address" value=""
                                   id="address" class="form-control"
                                   th:field="*{address}">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="size">面积：</label>
                        <div class="col-lg-9">
                            <input type="number" placeholder="size" value=""
                                   id="size" class="form-control"
                                   th:field="*{size}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="division">分区：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="division" value=""
                                   id="division" class="form-control"
                                   th:field="*{division}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="price">价格：</label>
                        <div class="col-lg-9">
                            <input type="number" placeholder="price" value=""
                                   id="price" class="form-control"
                                   th:field="*{price}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="type">房屋类型：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="type" value=""
                                   id="type" class="form-control"
                                   th:field="*{type}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3"
                               for="description">描述：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="description" value=""
                                   id="description" class="form-control"
                                   th:field="*{description}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="picture">图片：</label>
                        <input type="file" value="" id="picture" class="form-control"
                               name="picture" th:name="picture" accept="image/png"/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        关闭
                    </button>
                    <button class="btn btn-success" type="button"
                            onclick="form.submit();">提交
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>