<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin_kit::head(~{::title})">
    <title>房屋数据可视化</title>
</head>
<body>
<!--todo 无内容？-->
<!--导航栏-->

<!--可视化-->
<div id="sales_count" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('sales_count'));
    var option = {
        xAxis: {
            type: 'category',
            name: '房屋类型',
            data: ['一居', '二居', '三居', '四居', '五居']
        },
        yAxis: {
            type: 'value',
            name: '销量'
        },
        series: [
            {
                data: [120, 200, 150, 80, 70],
                type: 'bar'
            }
        ]
    };

    option && myChart.setOption(option);
</script>

</body>
</html>