<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--page name-->
    <title>管理员登陆</title>
    <!--base解决页面跳转后静态资源失效问题-->
    <base>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"
          media="all"/>
    <!--Bootstrap-select CSS-->
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap-select/bootstrap-select.min.css"
          media="all"/>
    <!--Flexslider CSS-->
    <link rel="stylesheet" type="text/css" href="../vendors/flexslider/css/flexslider.css" media="all"/>
    <!--Owl_Carousel CSS-->
    <link rel="stylesheet" type="text/css" href="../vendors/owl-carousel/owl.carousel.css" media="all"/>
    <!--Linearicons Icons CSS-->
    <link rel="stylesheet" href="../vendors/linearicons/Linearicons.css">
    <!--Font-Awesome CSS-->
    <link rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css">
    <!-- Fonts -->

    <!--Theme Styles CSS-->
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>

    <script src="../js/jquery-1.12.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="static/js/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="static/js/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--客户导航栏-->
<div th:replace="client_kit::navbar"></div>
<!--管理员登陆-->
<div class="page-header">
    <h1 class="text-center">管理员登陆</h1>
</div>
<form id="loginClientForm" class="form-horizontal" method="post" th:action="@{/admin/session}"  onsubmit="return check()">
    <div class="loginContent maincontainer container" style="width: 25%; margin: auto;">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="userLogin">
                <div class="form-group">
                    <label for="nickname">用户昵称</label>
                    <input type="text" class="form-control" id="nickname" placeholder="nickname"
                           th:name="nickname">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" placeholder="password"
                           th:name="password">
                </div>
                <!--消息提示-->
                <div class="alert alert-warning" role="alert" th:if="${msg}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong th:text="${msg.head}">head</strong> <span th:text="${msg.info}">message</span>
                </div>
                <!--跳转客户登陆-->
                <!--todo update url-->
                <a href="#" th:href="@{/login_register}">客户登陆</a>
                <!--跳转客户注册-->
                <!--todo update url-->
                <a href="#" th:href="@{/login_register}">客户注册</a>
                <!--提交-->
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">登录</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    // 可以用 form.required 替代
    function check() {
        // 用户名检查
        const nickname = document.getElementById("nickname").value;
        if (nickname == null || nickname === '') {
            alert("用户名不能为空");
            return false;
        }
        // 密码检查
        const password = document.getElementById("password").value;
        if (password == null || password === '') {
            alert("密码不能为空");
            return false;
        }
        return true;
    }
</script>

</body>
</html>