<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="client_kit::head(title='管理员登陆')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--客户导航栏-->
<div th:replace="client_kit::navbar_lr"></div>
<!--管理员登陆-->
<div class="page-header">
    <h1 class="text-center">管理员登陆</h1>
</div>
<form id="loginForm" class="form-horizontal" method="post" th:action="@{/admin/session}"
      onsubmit="return check()">
    <div class="loginContent maincontainer container" style="width: 25%; margin: auto;">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="userLogin">
                <div class="form-group">
                    <label for="nickname">用户昵称：</label>
                    <input type="text" class="form-control" id="nickname"
                           placeholder="nickname"
                           th:name="nickname">
                </div>
                <div class="form-group">
                    <label for="password">密码：</label>
                    <input type="password" class="form-control" id="password"
                           placeholder="password"
                           th:name="password">
                </div>
                <!--消息提示-->
                <div class="alert alert-warning" role="alert" th:if="${msg}">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong th:text="${msg.head}">head</strong> <span
                        th:text="${msg.info}">message</span>
                </div>
                <!--跳转客户登陆-->
                <a href="#" th:href="@{/login}">客户登陆</a>
                <!--跳转客户注册-->
                <a href="#" th:href="@{/register}">客户注册</a>
                <!--提交-->
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">登录
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    // 可以用 form.required 替代
    function check() {
        // 用户名检查
        const nickname = document.getElementById("nickname").value;
        if (nickname == null || nickname === '') {
            alert("用户名不能为空");
            return false;
        }
        // 密码检查
        const password = document.getElementById("password").value;
        if (password == null || password === '') {
            alert("密码不能为空");
            return false;
        }
        return true;
    }
</script>

</body>
</html>