<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="client_kit::head(title='登录')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--todo 消息弹出-->
<div>
    <div class="alert alert-success alert-dismissible" role="alert" th:if="${msg.state} eq 'success'"
         th:text="${msg.getMsg()}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span>
        </button>
        success
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" th:if="${msg.state} eq 'failure'"
         th:text="${msg.getMsg()}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span>
        </button>
        failure
    </div>
</div>

<!--导航栏-->
<!--<div th:replace="client_kit::navbar"></div>-->

<!--唤出模态框-->
<div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
        <button class="btn btn-lg btn-block" data-toggle="modal" data-target="#clientLogin"><h4>用户登录</h4></button>
    </div>
    <div class="col-md-4 column">
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
        <button class="btn btn-lg btn-block" data-toggle="modal" data-target="#clientRegister">用户注册</button>
    </div>
    <div class="col-md-4 column">
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
        <button class="btn btn-lg btn-block" data-toggle="modal" data-target="#adminLogin">管理员登录</button>
    </div>
    <div class="col-md-4 column">
    </div>
</div>
<!--模态框-->
<div class="modal fade" id="clientLogin" aria-labelledby="clientLoginLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="clientLoginLabel">用户登录</h5>
            </div>

            <form id="loginClientForm" class="form-horizontal" method="post" th:action="@{/login_register/login/client}"
                  th:object="${user}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-lg-3">用户昵称：</label>
                        <div class="col-lg-9">
                            <input type="text" value="" name="nickname" placeholder="nickname" class="form-control"
                                   th:field="*{nickName}"></br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">密码：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="password" value="" name="password" class="form-control"
                                   th:field="*{password}">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
                    <button class="btn btn-success" type="button" onclick="form.submit();">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="clientRegister" aria-labelledby="clientRegisterLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="clientRegisterLabel">用户注册</h5>
            </div>

            <form id="registerClientForm" class="form-horizontal" method="post"
                  th:action="@{/login_register/register/client}"
                  th:object="${user}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-lg-3">用户昵称：</label>
                        <div class="col-lg-9">
                            <input type="text" value="" name="nickname" placeholder="nickname" class="form-control"
                                   th:field="*{nickName}"></br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">密码：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="password" value="" name="password" class="form-control"
                                   th:field="*{password}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">真实姓名：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="username" value="" name="username" class="form-control"
                                   th:field="*{username}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">地址：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="location" value="" name="location" class="form-control"
                                   th:field="*{location}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">邮箱：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="email" value="" name="email" class="form-control"
                                   th:field="*{email}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">联系方式：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="phone" value="" name="phone" class="form-control"
                                   th:field="*{phone}">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
                    <button class="btn btn-success" type="button" onclick="form.submit();">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="adminLogin" aria-labelledby="adminLoginLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="adminLoginLabel">用户登录</h5>
            </div>

            <form id="loginAdminForm" class="form-horizontal" method="post" th:action="@{/login_register/login/admin}"
                  th:object="${user}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-lg-3">用户昵称：</label>
                        <div class="col-lg-9">
                            <input type="text" value="" name="nickname" placeholder="nickname" class="form-control"
                                   th:field="*{nickName}"></br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">密码：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="password" value="" name="password" class="form-control"
                                   th:field="*{password}">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
                    <button class="btn btn-success" type="button" onclick="form.submit()">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>