<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryan.redlight.mapper.ViewAppointmentMapper">
    <sql id="Base_Column_List">
        view_appointment_id as viewAppointmentId, house_id, creator_id, create_time, view_time, is_replied, replyer_id,
    reply_time, is_viewed
    </sql>
    <select id="selectByPrimaryKey" resultType="com.ryan.redlight.entity.ViewAppointment"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from rl_view_appointment
        where view_appointment_id = #{viewAppointmentId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultType="com.ryan.redlight.entity.ViewAppointment">
        select
        <include refid="Base_Column_List"/>
        from rl_view_appointment
    </select>
    <select id="selectAllByCreatorId" resultType="com.ryan.redlight.entity.ViewAppointment">
        select
        <include refid="Base_Column_List"/>
        from rl_view_appointment
        where creator_id = #{creatorId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from rl_view_appointment
        where view_appointment_id = #{viewAppointmentId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ryan.redlight.entity.ViewAppointment">
        insert into rl_view_appointment (view_appointment_id, house_id, creator_id,
                                         create_time, view_time, is_replied,
                                         replyer_id, reply_time, is_viewed)
        values (#{viewAppointmentId,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, #{creatorId,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP}, #{viewTime,jdbcType=TIMESTAMP}, #{isReplied,jdbcType=TINYINT},
                #{replyerId,jdbcType=INTEGER}, #{replyTime,jdbcType=TIMESTAMP}, #{isViewed,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.ryan.redlight.entity.ViewAppointment">
        insert into rl_view_appointment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="viewAppointmentId != null">
                view_appointment_id,
            </if>
            <if test="houseId != null">
                house_id,
            </if>
            <if test="creatorId != null">
                creator_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="viewTime != null">
                view_time,
            </if>
            <if test="isReplied != null">
                is_replied,
            </if>
            <if test="replyerId != null">
                replyer_id,
            </if>
            <if test="replyTime != null">
                reply_time,
            </if>
            <if test="isViewed != null">
                is_viewed,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="viewAppointmentId != null">
                #{viewAppointmentId,jdbcType=INTEGER},
            </if>
            <if test="houseId != null">
                #{houseId,jdbcType=INTEGER},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="viewTime != null">
                #{viewTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isReplied != null">
                #{isReplied,jdbcType=TINYINT},
            </if>
            <if test="replyerId != null">
                #{replyerId,jdbcType=INTEGER},
            </if>
            <if test="replyTime != null">
                #{replyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isViewed != null">
                #{isViewed,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ryan.redlight.entity.ViewAppointment">
        update rl_view_appointment
        <set>
            <if test="houseId != null">
                house_id = #{houseId,jdbcType=INTEGER},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="viewTime != null">
                view_time = #{viewTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isReplied != null">
                is_replied = #{isReplied,jdbcType=TINYINT},
            </if>
            <if test="replyerId != null">
                replyer_id = #{replyerId,jdbcType=INTEGER},
            </if>
            <if test="replyTime != null">
                reply_time = #{replyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isViewed != null">
                is_viewed = #{isViewed,jdbcType=TINYINT},
            </if>
        </set>
        where view_appointment_id = #{viewAppointmentId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ryan.redlight.entity.ViewAppointment">
        update rl_view_appointment
        set house_id    = #{houseId,jdbcType=INTEGER},
            creator_id  = #{creatorId,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            view_time   = #{viewTime,jdbcType=TIMESTAMP},
            is_replied  = #{isReplied,jdbcType=TINYINT},
            replyer_id  = #{replyerId,jdbcType=INTEGER},
            reply_time  = #{replyTime,jdbcType=TIMESTAMP},
            is_viewed   = #{isViewed,jdbcType=TINYINT}
        where view_appointment_id = #{viewAppointmentId,jdbcType=INTEGER}
    </update>
</mapper>