<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="client_kit::head(~{::title})">
    <title>个人预约列表</title>
</head>
<body>
<!--导航栏-->
<div th:replace="client_kit::navbar"></div>

<!--个人信息-->
<a th:href="@{/comments/get/single}">个人信息</a>
<!--个人预约记录-->
<a th:href="@{/comments/get/creatorId}">个人预约记录</a>
<!--个人留言-->
<a th:href="@{/appointments/get/creatorId}">个人留言</a>

<!--展示列表-->
<div class="container">
    <section class="heading-item-area">
        <div class="container coustome-container">
            <div class="row all-widgets-area m0">
                <div class="col-md-10 col-sm-6 post-area">
                    <!--分页导航-->
                    <div class="col-md-12 column" th:object="${appointmentVoPageInfo}">
                        <ul class="pagination">
                            <li>
                                <a href="#"
                                   th:href="@{/appointments/get/list(pageNum=*{pageNum}-1)}">Prev</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/appointments/get/list(pageNum=*{pageNum}-2)}"
                                   th:if="${appointmentVoPageInfo.pageNum} -2 ge 1"
                                   th:text="*{pageNum - 2}">1</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/appointments/get/list(pageNum=*{pageNum}-1)}"
                                   th:if="${appointmentVoPageInfo.pageNum} -1 ge 1"
                                   th:text="*{pageNum - 1}">2</a>
                            </li>
                            <li class="active">
                                <a href="#"
                                   th:href="@{/appointments/get/list(pageNum=*{pageNum})}"
                                   th:text="*{pageNum}">3</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/appointments/get/list(pageNum=*{pageNum}+1) }"
                                   th:if="${appointmentVoPageInfo.pageNum}+1 le ${appointmentVoPageInfo.pages}"
                                   th:text="*{pageNum + 1}">4</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/appointments/get/list(pageNum=*{pageNum}+2)}"
                                   th:if="${appointmentVoPageInfo.pageNum}+2 le ${appointmentVoPageInfo.pages}"
                                   th:text="*{pageNum + 2}">5</a>
                            </li>
                            <li>
                                <a href="#"
                                   th:href="@{/appointments/get/list(pageNum=*{pageNum}+1)}">Next</a>
                            </li>
                        </ul>
                    </div>
                    <!--列表-->
                    <div class="Building-University"
                         th:each="appointmentVo:${appointmentVoList}">
                        <div class="Building-content">
                            <div class="right-area">
                                <!--标题-->
                                <h3 th:text="${appointmentVo.houseName}">房屋名称</h3>
                                <!--tags-->
                                <a href="" class="btn-slide activ"
                                   th:text="${appointmentVo.viewAppointmentId}">tags</a>
                                <!--信息-->
                                <ul class="info">
                                    <li>
                                        <i class="lnr lnr-tag"></i> 房屋名称: <var
                                            th:text="${appointmentVo.houseName}">未知</var>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-tag"></i> 创建者名称: <var
                                            th:text="${appointmentVo.creatorName}">未知</var>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-tag"></i> 创建时间:
                                        <var th:text="${appointmentVo.createTime.getDate()}">未知</var>
                                        <var th:text="${appointmentVo.createTime.getTime()}">未知</var>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-tag"></i> 看房时间:
                                        <var th:text="${appointmentVo.viewTime.getDate()}">未知</var>
                                        <var th:text="${appointmentVo.viewTime.getTime()}">未知</var>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-tag"></i> 已回复:
                                        <var th:if="${appointmentVo.isReplied} eq 0">是</var>
                                        <var th:unless="${appointmentVo.isReplied} eq 0">否</var>
                                    </li>
                                    <li th:if="${appointmentVo.isReplied} eq 1">
                                        <i class="lnr lnr-tag"></i> 回复者名称: <var
                                            th:text="${appointmentVo.replierName}">未知</var>
                                    </li>
                                    <li th:if="${appointmentVo.isReplied} eq 1">
                                        <i class="lnr lnr-tag"></i> 回复时间: <var
                                            th:text="${appointmentVo.replyTime}">未知</var>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-tag"></i> 已看房:
                                        <var th:if="${appointmentVo.isReplied} eq 0">是</var>
                                        <var th:unless="${appointmentVo.isReplied} eq 0">否</var>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>