<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-default nav_custom row">
        <div class="container coustome-container">
            <div class="row collapse navbar-collapse" id="main_menu">
                <!--右上角用户名-->
                <ul class="nav navbar-right nav_buttom">
                    <!--已登录 -->
                    <li>
                        <span th:text="${session.userInfo.nickName}"></span>
                    </li>
                </ul>

                <!--页面导航-->
                <ul class="nav navbar-nav navbar-menu">
                    <li><a href="#" th:href="@{/admin/houses/get/list}">房屋管理</a></li>
                    <li><a href="#" th:href="@{/admin/comments/get/list}">用户管理</a></li>
                    <li><a href="#" th:href="@{/admin/clients/get/list}">留言回复</a></li>
                    <li><a href="#" th:href="@{/admin/appointments/get/single}">看房预约</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>